/* PERMET DE METTRE LE HERO DE LA PAGE 100% DE SON CONTENEUR ET 77VH (POUR AFFICHER LA MARGE EN HAUT ET EN BAS) */
.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* SETTINGS POUR ENTOURÉ LE LOGO ET LE SLOGAN */
.hero_logo {
    padding: 50px;
    border: 4px solid white;
    border-radius: 25px;
}

.hero_relative {
    position: relative;
}

.gallery_texte_hero div {
    /* background-color: #61876E; */

    background-color: rgba(0, 39, 32, 50%);
}

/* RESPONSIVENESS DU HERO A 720PX */
@media screen and (max-width: 720px) {
    .hero_logo {
        border: none;
        border-radius: none;
    }
}